<!DOCTYPE html>
<html lang='em'>
<head>
</head>
<body>
<div id='white'>
  <br/>
  <div id='topper'>
    <h2>Welcome to Tommy Talker</h2>
  </div>
  </div> <!-- end white -->>
  <div class='container'>
    <table id='mbuttons'>
      <tr>
        <td><a href="./top26" class="button"> Top 26</a></td>
        <td><a href="./are" class="button"> Are? </a></td>
        <td><a href="./do-you" class="button"> Do you? </a></td>
        <td><a href="./how" class="button"> How? </a></td>
      </tr>
      <tr>
        <td><a href="./directions" class="button"> Directions </a></td>
        <td><a href="./i" class="button"> I </a></td>
        <td><a href="./can" class="button"> Can I/You? </a></td>
        <td><a href="./wwwww" class="button"> Where/When? </a></td>
      </tr>
    </table>
    <a href='about.html' id='a-bout' class="button";>About</a>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode'; href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
