<!DOCTYPE html>
<html lang='en'>
<head>
</head>
<body class='indexpage'>
  <div id='white'>
    <br/>
    <div id='topper-ab'>
      <h2>About Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <div id='zz'>
      <p>TommyTalker is a program that can speak for you. Some people have 
        problems speaking. Whether temporary or permanent, TommyTalker helps by 
        allowing you to select a word or phrase that you wish to say and TommyTalker says it. 
      <p> </p>
      <p>You don't have to type at all. Just click on a phrase, and that phrase is spoken.
        This is a proof of concept/beta version. Suggestions for features, words, and phrases
        to added can be emailed to <a id='mailto' href="mailto:s.d@comcast.net">TommyTalker</a>.</p>
      <p> </p>
      <p>I'd like to add support for other languages, but I'll need a volunteer (maybe you) who can handle 
        both translation and speech recording for each translation.
      <p> </p>
      <p>Let me know by email if you'd like to know as features are added and I'll keep you in the loop.</p>
      <p> Enjoy your visit to TommyTalker!</p>
    </div> <!-- end zz -->
    </span>
    <%= link_to 'Back', root_path(:anchor => '#' ), id: 'a-bout', class: 'button', redirect_to: :back;%>

    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
    </div> <!-- end container -->
</body>
</html>
