<!DOCTYPE html>
<html>
<head lang='en'>
  <script type="text/javaScript" src="jquery.js"></script>
  <script type="text/javaScript" src="talker.js"></script>
  <link rel="stylesheet" type="text/css" href="talker.css" />
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
       <tr>
          <th>Can you</th><th>Can I</th>
       </tr>
       <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouCallBackLater.mp3")';>call back later?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIAccessTheInternetHere.mp3")';>access the internet here?</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouCarryThisForMe.mp3")';>carry this for me?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIBorrowSomeMoney.mp3")';>borrow some money?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouDoMeAFavor.mp3")';>do me a favor?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIBringMyFriend.mp3")';>bring my friend?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouFixThis.mp3")';>fix this?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIHaveAGlassOfWaterPlease.mp3")';>have a glass of water please?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouGiveMeAnExample.mp3")';>give me an example?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIHaveAReceiptPlease.mp3")';>have a receipt please?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouHelpMe.mp3")';>help me?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIHaveTheBillPlease.mp3")';>have the bill please?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouHoldThisForMe.mp3")';>hold this for me?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIHelpYou.mp3")';>help you?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouPleaseSayThatAgain.mp3")';>please say that again?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIMakeAnAppointmentForNextWednesday.mp3")';>make an appointment for next wednesday?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouRecommendAGoodRestaurant.mp3")';>recommend a good restaurant?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canISeeYourPassportPlease.mp3")';>see your passport please?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouRepeatThatPlease.mp3")';>repeat that please?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canITakeAMessage.mp3")';>take a message?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouShowMe.mp3")';>show me?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canITryItOn.mp3")';>try it on?</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouSpeakLouderPlease.mp3")';>speak louder please?</a></td>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canIUseYourPhone.mp3")';>use your phone?</a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouSwim.mp3")';>swim?</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouTranslateThisForMe.mp3")';>translate this for me?</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/phrases/canYouThrowThatAwayForMe.mp3")';>throw that away for me?</a></td>
        </tr>
    </table>
    <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>

