<!DOCTYPE html>
<html lang='en'>
<head>
<style type='text/css'>
table.credits{
  margin-left: 4.5em;
  background-color: #000088;
  color: white;
  width: 38em;
}
table.credits td.open_sorcerer{
  font-weight: bold;
  color: white;
  width: 7em;
}
table.credits th{
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
  width: 12em;
}
div#white p#credito{
  width: 40em;
}

</style>
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper-ab'>
        <h2>Credits</h2>
      </div>
      <p id='credito'>A project like this doesn't happen without lots of help 
         from talented and generous members of the open source community. 
         They have my deep gratitude for their efforts to make this app 
         happen. More help is needed, so if you speak any language not listed in 
         the credits, we need your help reviewing/editing the machine translations. 
         Contact: <a href='mailto: sdownie@tommytalker.com'>sdownie  at  tommytalker.com</a> if you or 
         someone you know can help.
      </p>
      <div id='zz'>
        <table class='credits'>
          <tr>
            <th>Contributor</th><th>Language</th><th>website</th>
          </tr>
          <tr>
            <td class='open_sorcerer'>Steve Downie</td><td>English</td><td><a href='http://maintenancemode.com'>http://maintenancemode.com</a></td>
          </tr>
          <tr>
            <td class='open_sorcerer'>Simon Courtois</td><td>French</td><td><a href='http://www.tinci.fr/'>http://www.tinci.fr/</a></td>
          </tr>
        </table>
        <div id='copyright2'>
          <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
        </div>
      </div> <!-- end zz -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>

