<!DOCTYPE html>
<html lang='en'>
<head>
<style type='text/css'>
div#zz table.credits{
  margin-left: 4.5em;
  margin-bottom: 1em;
  background-color: #000088;
  color: white;
  width: 38em;
}
table.credits td.open_sorcerer{
  font-weight: bold;
  color: white;
  width: 7em;
}
table.credits th{
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
  width: 12em;
}
div#white p#credito{
  width: 40em;
}
p.creative img{
  margin-top: 2em;
  margin-left: 16em;
  margin-bottom: -2em;
}
div#zz div#copyright0 {
  margin-left: 4em;
  width: 74em;
}
div#copyright0 div#ccl a{
  margin-left: 0.25em;
}


div#white div#topper-ab h2{
  margin-top: -0.5em;
}
div#white div#copyright0 span div#ccl a{
  width: 64em;
}

div#ccl {
  margin-left: -1em;
  width: 66em;
}

div#ccl p{
  width: 42em;
}

</style>
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper-ab'>
        <h2>Credits</h2>
      </div>
      <p id='credito'>A project like this doesn't happen without lots of help 
         from talented and generous members of the open source community. 
         They have my deep gratitude for their efforts to make this app 
         happen. More help is needed, so if you speak any language not listed in 
         the credits, we need your help reviewing/editing the machine translations. 
         Contact: <a href='mailto: sdownie@tommytalker.com'>sdownie  at  tommytalker.com</a> if you or 
         someone you know can help.
      </p>
      <div id='zz'>
        <table class='credits'>
          <tr>
            <th>Contributor</th><th>Language</th><th>website</th>
          </tr>
          <tr>
            <td class='open_sorcerer'>Steve Downie</td><td>English</td><td><a href='http://maintenancemode.com'>http://maintenancemode.com</a></td>
          </tr>
          <tr>
            <td class='open_sorcerer'>Simon Courtois</td><td>French</td><td><a href='http://www.tinci.fr/'>http://www.tinci.fr/</a></td>
          </tr>
        </table>
        <div id='copyright0'>
          <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
          <div id='ccl' style="display:none">
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
          </div> <!-- end ccl -->
        </div> <!-- end copyright0 -->
      </div> <!-- end zz -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>

