<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" type="text/css" href="talker.css" />
  <script type="text/javaScript" src="talker.js"></script>
  <script type="text/javaScript" src="talker.js"></script>
</head>
<body>
  <div id='white'>
    <br/>
  <div id='topper'>
    <h2>Tommy Talker</h2>
  </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr>
        <th>Directions</th><th><th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/aFew.mp3")';>a few</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/moreThan200Miles.mp3")';>more than 200 miles</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/aLongTimeAgo.mp3")';>a long time ago</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/moreThanThat.mp3")';>more than that</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/aOneWayTicket.mp3")';>a one way ticket</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/nearTheBank.mp3")';>near the bank</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/aRoundTripTicket.mp3")';>a round trip ticket</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/onTheLeft.mp3")';>on the left</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/about300Kilometers.mp3")';>about 300 kilometers</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/onTheRight.mp3")';>on the right</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/acrossFromThePostOffice.mp3")';>across from the post office</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/onThesecondFloor.mp3")';>on the second floor</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/allDay.mp3")';>all day</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/oneTicketToNYPlease.mp3")';>one ticket to NY please</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/beCareful.mp3")';>be careful</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/oneWayOrRoundTrip.mp3")';>one way or round trip</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/beCarefulDriving.mp3")';>be careful driving</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/openTheDoor.mp3")';>open the door</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/beQuiet.mp3")';>be quiet</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/openTheWindow.mp3")';>open the window</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/behindTheBank.mp3")';>behind the bank</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/outsideTheHotel.mp3")';>outside the hotel</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/callMe.mp3")';>call me</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/overHere.mp3")';>over here</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/callThePolice.mp3")';>call the police</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/overThere.mp3")';>over there</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/comeHere.mp3")';>come here</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/pickupYourClothes.mp3")';>pickup your clothes</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/dontDoThat.mp3")';>don't do that</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/startTheCar.mp3")';>start the car</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/dontWorry.mp3")';>don't worry</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/stop.mp3")';>stop</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/followMe.mp3")';>follow me</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/takeItOutside.mp3")';>take it outside</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/forgetIt.mp3")';>forget it</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/takeMeDowntown.mp3")';>take me downtown</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/fromHereToThere.mp3")';>from here to there</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/takeMeToTheMarriottHotel.mp3")';>take me to the Marriott hotel</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/fromTimeToTime.mp3")';>from time to time</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/takeThisMedicine.mp3")';>take this medicine</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/goStraightAhead.mp3")';>go straight ahead</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/tellHimThatINeedToTalkToHim.mp3")';>tell him that I need to talk to him</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/help.mp3")';>help</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/tellMe.mp3")';>tell me</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/hurry.mp3")';>hurry</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/thatWay.mp3")';>that way</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/in30Minutes.mp3")';>in 30 minutes</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/turnAround.mp3")';>turn around</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/justAMoment.mp3")';>just a moment</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/turnLeft.mp3")';>turn left</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/maybe.mp3")';>maybe</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/turnRight.mp3")';>turn right</a></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
