<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" type="text/css" href="talker.css" />
  <script type="text/javaScript" src="jquery.js"></script>
  <script type="text/javaScript" src="talker.js"></script>
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr><th>Do you have</th><th>Do you know<th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveABoyfriend.mp3");'>a boyfriend?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHer.mp3");'>her?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAGirlfriend.mp3");'>a girlfriend?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHowMuchItCosts.mp3");'>how much it costs?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAPencil.mp3");'>a pencil?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHowToCook.mp3");'>how to cook?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAProblem.mp3");'>a problem?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHowToGetToTheMarriottHotel.mp3");'>how to get to the Marriott hotel?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveASwimmingPool.mp3");'>a swimming pool?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhatThisMeans.mp3");'>what this means?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnAppointment.mp3");'>an appointment?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhatThisSays.mp3");'>what this says?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnotherOne.mp3");'>another one?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereICanGetATaxi.mp3");'>where I can get a taxi?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyChildren.mp3");'>any children?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereMyGlassesAre.mp3");'>where my glasses are?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyCoffee.mp3");'>any coffee?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereSheIs.mp3");'>where she is?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyMoney.mp3");'>any money?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereTheresAStoreThatSellsTowels.mp3");'>where there's a store that sells towels?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyVacancies.mp3");'>any vacancies?</a></td>
        <td></td>
      </tr>
      <tr><td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnythingCheaper.mp3");'>anything cheaper?</a></td>
          <td></td>
      </tr>
      <tr><td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveEnoughMoney.mp3");'>enough money?</a></td>
          <td></td>
      </tr>
      <tr><th>Do you</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouAcceptUSDollars.mp3");'>accept US dollars?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSellBatteries.mp3");'>sell batteries?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouBelieveThat.mp3");'>believe that?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSellMedicine.mp3");'>sell medicine?</a></td>
      </tr>    
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouFeelBetter.mp3");'>feel better?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSmoke.mp3");'>smoke?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouGoToFloridaOften.mp3");'>go to Florida often?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSpeakEnglish.mp3");'>speak english?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHearThat.mp3");'>hear that?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouStudyEnglish.mp3");'>study english?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeItHere.mp3");'>like it here?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouTakeCreditCards.mp3");'>take credit cards?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeTheBook.mp3");'>like the book?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkItllRainToday.mp3");'>think it'll rain today?</td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeToWatchTV.mp3");'>like to watch TV?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkItsGoingToRainToday.mp3");'>think it's going?</td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeYourBoss.mp3");'>like your boss?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkItsPossible.mp3");'>think it's possible?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeYourCoworkers.mp3");'>like your coworkers?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkYoullBeBackBy1130.mp3");'>think you'll be back?</td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouNeedAnything.mp3");'>need anything?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouUnderstand.mp3");'>understand?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouNeedAnythingElse.mp3");'>need anything else?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouWantToGoToTheMovies.mp3");'>want to go to the movie?</td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouPlayAnySports.mp3");'>play any sports?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouWantToGoWithMe.mp3");'>want to go with me?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouPlayBasketball.mp3");'>play basketball?</a></td>
        <td></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
