<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" type="text/css" href="talker.css" />
  <script type="text/javaScript" src="jquery.js"></script>
  <script type="text/javaScript" src="talker.js"></script>
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr><th>How are</th><th>How's</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howAreYou.mp3")';>you?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howsBusiness.mp3")';>business?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howAreYouPaying.mp3")';>you paying?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howsTheWeather.mp3")';>the weather?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howAreYourParents.mp3")';>your parents?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howsWorkGoing.mp3")';>work going?</a></td>
      </tr>
      <tr><th>How Do</th><th>How long</th></tr> 
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoIGetToDanielStreet.mp3")';>I get to Daniel street?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongAreYouGoingToStay.mp3")';>are you going to stay?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoIUseThis.mp3")';>I use this?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongAreYouGoingToStayInCalifornia.mp3")';>are you going to stay in california?</a></td> 
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoYouKnow.mp3")';>you know?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongDoesItTakeByCar.mp3")';>does it take by car?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoYouPronounceThat.mp3")';>you pronounce that?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongDoesItTakeToGetToGeorgia.mp3")';>does it take to get to Georgia?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoYouSayItInEnglish.mp3")';>you say it in english?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongHaveYouBeenHere.mp3")';>have you been here?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoYouSpellIt.mp3")';>you spell it?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongHaveYouWorkedHere.mp3")';>have you worked here?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoYouSpellTheWordSeattle.mp3")';>you spell the word Seattle?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongIsIt.mp3")';>is it?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howdoIGetThere.mp3")';>I get there?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongIsTheFlight.mp3")';>is the flight?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howdoIGetToTheAmericanEmbassy.mp3")';>I get to the American embassy?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongWillItTake.mp3")';>will it take?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howdoIUseThis.mp3")';>I use this?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howLongWillYouBeStaying.mp3")';>will you be staying?</a></td>
      </tr>
      <tr><th>How</th><th>How many</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howAboutSaturday.mp3")';>about Saturday?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMany.mp3")';>how many?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howDoesItTaste.mp3")';>does it taste?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyChildrenDoYouHave.mp3")';>children do you have?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howFarIsIt.mp3")';>far is it?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyHoursAWeekDoYouWork.mp3")';>hours a week do you work?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howFarIsItToChicago.mp3")';>far is it to chicago?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyLanguagesDoYouSpeak.mp3")';>languages do you speak?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howIsShe.mp3")';>is she?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyMilesIsItToPenn.mp3")';>miles is it to Pennsylvania?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howOldAreYou.mp3")';>old are you?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyPeople.mp3")';>people?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howTallAreYou.mp3")';>tall are you?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyPeopleAreThereInNY.mp3")';>people are there in NY?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howWasTheMovie.mp3")';>was the movie?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howManyPeopleDoYouHaveInYourFamily.mp3")';>people do you have in your family?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howWasTheTrip.mp3")';>was the trip?</a></td>
      </tr>
      <tr><th>How much</th><th>How much</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchAllTogether.mp3")';>all together?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchIsThat.mp3")';>is that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchAreTheseEarrings.mp3")';>are these earrings?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchIsThis.mp3")';>is this?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchDoIOweYou.mp3")';>do i owe you?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchMoneyDoYouHave.mp3")';>money do you have?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchDoesItCostPerDay.mp3")';>does it cost per day?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchMoneyDoYouMake.mp3")';>money do you make?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchDoesThisCost.mp3")';>does this cost?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchWillItCost.mp3")';>will it cost?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchIsIt.mp3")';>is it?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchWouldYouLike.mp3")';>would you like?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/howMuchIsItToGoToMiami.mp3")';>is it to go to Miami?</a></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
