<!DOCTYPE html>
<html lang='en'>
<head>
  <script type="text/javascript" src="jquery.js"></script> 
  <script type="text/javascript" src="talker.js"></script> 
  <link rel="stylesheet" type="text/css" href="talker.css" />
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
    <div class='container'>
    <table class='talker'>
      <tr><th>I</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iAgree.mp3")';>agree</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeItalianFood.mp3")';>like italian food</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iAteAlready.mp3")';>ate already</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeToWatchTV.mp3")';>like to watch TV</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iBelieveYou.mp3")';>believe you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLiveInCalifornia.mp3")';>live in california</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLostMyWatch.mp3")';>lost my watch</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iCameWithMyFamily.mp3")';>came with my family</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLoveYou.mp3")';>love you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iMadeAMistake.mp3")';>made a mistake</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/ITrustYou.mp3")';>trust you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iCantHearYou.mp3")';>can't hear you</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iMadeThisCake.mp3")';>made this cake</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iCantHearYouClearly.mp3")';>can't hear you clearly</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iOnlyHave5Dollars.mp3")';>only have 5 Dollars</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iFeelGood.mp3")';>feel good</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iOnlyWantASnack.mp3")';>only want a snack</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iForget.mp3")';>forget</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iRemember.mp3")';>remember</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iGiveUp.mp3")';>give up</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IUnderstand.mp3")';>understand</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iGotInAnAccident.mp3")';>got in an accident</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IUnderstandNow.mp3")';>understand now</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHopeYouAndYourWifeHaveANiceTrip.mp3")';>hope you and your wife have a nice trip</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iKnow.mp3")';>know</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IUsuallyDrinkCoffeeAtBreakfast.mp3")';>usually drink coffee at breakfast</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IWishIHadOne.mp3")';>wish I had one</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeHer.mp3")';>like her</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeIt.mp3")';>like it</a></td>
      </tr>
      <tr><th>I'd like</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoForAWalk.mp3")';>to go for a walk</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoToTheStore.mp3")';>to go to the store</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeANonSmokingRoom.mp3")';>a non-smoking Room</a></td>                                     
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoHome.mp3")';>to go home</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeARoom.mp3")';>a room</a></td>                                                            
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoShopping.mp3")';>to go shopping</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToMakeAPhoneCall.mp3")';>to make a phone call</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeSomeWaterTooPlease.mp3")';>some water too please</a></td>                                
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeATableNearTheWindow.mp3")';>a table near the window</a></td>                             
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToMakeAReservation.mp3")';>to make a reservation</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToSendAFax.mp3")';>to send a fax</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToBuyABottleOfWaterPlease.mp3")';>to buy a bottle of water please</a></td>               
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/idLikeToRentACar.mp3")';>to rent a car</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToBuySomething.mp3")';>to buy something</a></td>                                         
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/idLikeToUseTheInternet.mp3")';>to use the internet</a></td>
      </tr>
      <tr><th>I don't</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontCare.mp3")';>care</a></td>                           
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontMind.mp3")';>mind</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontFeelWell.mp3")';>feel well</a></td>                  
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontSpeakVeryWell.mp3")';>speak very well</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontHaveAnyMoney.mp3")';>have any money</a></td>         
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontThinkSo.mp3")';>think so</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontHaveTimeRightNow.mp3")';>have time right now</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontUnderstand.mp3")';>understand</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontKnow.mp3")';>know</a></td>                           
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontUnderstandWhatYourSaying.mp3")';>undersand what you're saying</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontKnowHowToUseIt.mp3")';>know how to use it</a></td>   
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontWantIt.mp3")';>want it</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontLikeHim.mp3")';>like him</a></td>                    
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontWantThat.mp3")';>want that</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontLikeIt.mp3")';>like it</a></td>                      
        <td><a href='#' onclick='return playSound("/sounds/phrases/iDontWantToBotherYou.mp3")';>want to bother you</a></td>
      </tr>
      <tr><th>I have</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHavePainInMyArm.mp3")';>pain in my arm</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveACold.mp3")';>a cold</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveThreeChildrenTwoGirlsAndOneBoy.mp3")';>three children: two girls and one boy</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveAHeadache.mp3")';>a headache</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveOneInMyCar.mp3")';>one in my car</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveALotOfThingsToDo.mp3")';>a lot of things to do</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveToWashMyClothes.mp3")';>to wash my clothes</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveAQuestionIWantToAskYou.mp3")';>a question I want to ask you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaventBeenThere.mp3")';>haven't been there</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveAReservation.mp3")';>a reservation</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaventFinishedEating.mp3")';>haven't finished eating</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveMoney.mp3")';>money</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iHaventHadLunchYet.mp3")';>haven't had lunch yet</a></td>
      </tr>
      <tr><th>I'll</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illBeRightBack.mp3")';>be right back</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illPay.mp3")';>pay</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illCallBackLater.mp3")';>Call back later</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illPayForDinner.mp3")';>pay for dinner</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illPayForTheTickets.mp3")';>pay for the tickets</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illCallYouWhenILeave.mp3")';>call you when I leave</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illTakeIt.mp3")';>take it</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illComeBackLater.mp3")';>come back later</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illTakeThatOneAlso.mp3")';>take that one also</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illHaveACupOfTeaPlease.mp3")';>have a cup of tea please</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illTalkToYouSoon.mp3")';>talk to you soon</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illHaveAGlassOfWaterPlease.mp3")';>have a glass of water please</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illTeachYou.mp3")';>teach you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illHaveTheSameThing.mp3")';>have the same thing</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illTellHimYouCalled.mp3")';>tell him you called</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/illGiveYouACall.mp3")';>give you a call</a></td>
      </tr>
      <tr><th>I'm</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imJustKidding.mp3")';>just kidding</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imJustLooking.mp3")';>just looking</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imLeavingTomorrow.mp3")';>leaving tomorrow</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imABeginner.mp3")';>a beginner</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imLost.mp3")';>lost</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotAfraid.mp3")';>not afraid</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imATeacher.mp3")';>a teacher</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imMarried.mp3")';>married</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotAmerican.mp3")';>not American</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotBusy.mp3")';>not busy</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imBored.mp3")';>bored</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotGoing.mp3")';>not going</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imCleaningMyRoom.mp3")';>cleaning my room</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotMarried.mp3")';>not married</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imCold.mp3")';>cold</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotReadyYet.mp3")';>not ready yet</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imComingRightNow.mp3")';>coming right now</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imNotSure.mp3")';>not sure</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imComingToPickYouUp.mp3")';>coming to pick you up</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imOK.mp3")';>OK</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imFineAndYou.mp3")';>fine and you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imOnHold.mp3")';>on hold</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imReady.mp3")';>ready</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imSorry.mp3")';>sorry</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imFull.mp3")';>full</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imSelfEmployed.mp3")';>self employed</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGettingReadyToGoOut.mp3")';>getting ready to go out</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imSick.mp3")';>sick</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingHomeInFourDays.mp3")';>going home in four days</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imSingle.mp3")';>single</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingToGoHaveDinner.mp3")';>going to go have dinner</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imThirsty.mp3")';>thirsty</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingToLeave.mp3")';>going to leave</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imTired.mp3")';>tired</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGood.mp3")';>good</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imVeryBusy.mp3")';>very busy</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGoodAndYou.mp3")';>good and you</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imVeryBusyIDontHaveTimeNow.mp3")';>very busy, I don't have time Now</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imHappy.mp3")';>happy</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imVeryWellThankYou.mp3")';>very well, thank you</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imHereOnBusiness.mp3")';>here on business</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imWaitingForYou.mp3")';>waiting for you</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imHungry.mp3")';>hungry</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imWorriedToo.mp3")';>worried too</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingToBed.mp3")';>going to bed</a></td>
      </tr>
      <tr><th>I need</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedADoctor.mp3")';>a doctor</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedToChangeClothes.mp3")';>to change clothes</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedAnotherKey.mp3")';>another key</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedToGoHome.mp3")';>to go home</a>
      </td>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedSomeTissues.mp3")';>some tissues</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedToGoNow.mp3")';>to go now</a>
      </td>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedThisToGetThereByTomorrow.mp3")';>this to get there by tomorrow</a></td> 
      </tr>
    </table>
      <%= link_to 'Back', root_path(:anchor => '#' ), id: 'a-bout', class: 'button', redirect_to: :back;%>
      <div id='copyright1'>
        <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
      </div>
  </div> <!-- end container -->
</body>
</html>
