<!DOCTYPE html>
<html lang='en'>
<head>
  <script type="text/javascript">
    function playSound(f) {
      soundfile = new Audio(f);
      soundfile.play();
    }
</script>
<link rel="stylesheet" type="text/css" href="talker.css" />
</head>
<body>
  <div id='topper'>
    <h2>Tommy Talker - Top 100</h2>
  </div>
  <span id="dummy">
    <table class='talker'>
      <tr><th>Are you</th></tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouAfraid.mp3")';>afraid?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouHungry.mp3")';>hungry?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouAllergicToAnything.mp3")';>allergic to anything?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouMarried.mp3")';>married?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouAmerican.mp3")';>american?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouOK.mp3")';>OK?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouBusy.mp3")';>busy?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouReady.mp3")';>ready?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouComfortable.mp3")';>comfortable?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouSick.mp3")';>sick?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouComingThisEvening.mp3")';>coming this evening?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouSure.mp3")';>sure?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouFreeTonight.mp3")';>free tonight?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouWaitingForSomeone.mp3")';>waiting for someone?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouGoingToAttendTheirWedding.mp3")';>going to attend their wedding?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouWorkingToday.mp3")';>working today?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouGoingToHelpHer.mp3")';>going to help her?</a></td>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouWorkingTomorrow.mp3")';>working tomorrow?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouGoingToTakeAPlaneOrTrain.mp3")';>going to take a plane or train?</a></td> 
        <td><a href='#' onclick='playSound("./sounds/phrases/areYourChildrenWithYou.mp3")';>children with you?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='playSound("./sounds/phrases/areYouHereAlone.mp3")';>here alone?</a></td>
      </tr>
    </table>
    <div id='copyright'>
        <p>Copyright 2015, <a href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
</body>
</html>
