<!DOCTYPE html>
<html lang='en' background-color='green'>
<head>
  <link rel="stylesheet" type="text/css" href="talker.css" />
  <script type="text/javaScript" src="jquery.js"></script> 
  <script type="text/javaScript" src="talker.js"></script> 
</head>
<body background='green'>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker Top 26</h2>
    </div>
  </div> <!-- end white -->
    <div class='container'>
      <table class='talker'>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/yes.mp3")';>Yes</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/no.mp3")';>No</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/judy.mp3")';>Judy</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/heather.mp3")';>Heather</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/julianne.mp3")';>Julianne</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/sarah.mp3")';>Sarah</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/canyoupleasehelpme.mp3")';>Can you please help me</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/fuckthat.mp3")';>F..k that!</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/idontknow.mp3")';>I don't know</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/iloveyou.mp3")';>I love you</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/ineedtogotobed.mp3")';>I need to go to bed</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/ineedtogotothebathroom.mp3")';>I need to go to the bathroom</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/imcold.mp3")';>I'm cold</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/imhot.mp3")';>I'm hot</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/imhungry.mp3")';>I'm hungry</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/imtired.mp3")';>I'm tired</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/letseat.mp3")';>Let's eat</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/now.mp3")';>now</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/please.mp3")';>Please</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/pleasehelpme.mp3")';>Please help me</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/thankyou.mp3")';>Thank you</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/thanks.mp3")';>Thanks</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/thatsgood.mp3")';>That's good</a></td>
          <td><a href='#' onclick='return playSound("./sounds/mine/thatsgreat.mp3")';>That's great</a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("./sounds/mine/whatdoyouwant.mp3")';>What do you want
          <td><a href='#' onclick='return playSound("./sounds/mine/youlookgreat.mp3")';>You look great
        </tr>
      </table>
      <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
      <div id='copyright1'>
        <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
      </div>
  </div> <!-- end container -->
</body>
</html>    
