<!DOCTYPE html>
<html lang='en'>
<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="talker.js"></script>
  <link rel="stylesheet" type="text/css" href="talker.css" />
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr><th>What</th><th>What time</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatAreYouDoing.mp3")'; title='Fuck you and the horse you rode in on.';>are you doing?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeAreYouGoingToTheBusStation.mp3")';>are you going to the bus station?</a></td> 
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatAreYouGoingToDoTonight.mp3")';>are you going to do tonight?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDidYouGetUp.mp3")';>did you you get up?</a></td></tr>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatAreYouGoingToHave.mp3")';>are you going to have?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDidYouGoToSleep.mp3")';>did you go to sleep?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatAreYouThinkingAbout.mp3")';>are you thinking about?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDidYouWakeUp.mp3")';>did you wake up?</a></td></tr>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatAreYouTwoTalkingAbout.mp3")';>are you two talking about?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDoYouGoToWorkEveryday.mp3")';>do you go to work everyday?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatAreYourHobbies.mp3")';>are your hobbies?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDoYouThinkYoullArrive.mp3")';>do you think you'll arrive?</a></td></tr>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatCanIDoForYou.mp3")';>can I do for you?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDoesItStart.mp3")';>does it start?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatColorIsThatCar.mp3")';>color is that car?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDoesTheMovieStart.mp3")';>does the movie start?</a></td></tr>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDayAreTheyComingOver.mp3")';>day are they coming over?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeDoesTheStoreOpen.mp3")';>does the store open?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDayOfTheWeekIsIt.mp3")';>day of the week is it?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeIsCheckout.mp3")';>is checkout?</a></td></tr>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatHappened.mp3")';>happened?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeIsIt.mp3")';>is it?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatKindOfMusicDoYouLike.mp3")';>kind of music do you like?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatTimeAreTheyArriving.mp3")';>time are they arriving?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatSchoolDidYouGoTo.mp3")';>school you go to?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatWouldYouLikeToDrink.mp3")';>would you like to drink?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatShouldIWear.mp3")';>should I wear?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatWouldYouLikeToEat.mp3")';>would you like to eat?</a></td></tr>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatSize.mp3")';>size?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatWillTheWeatherBeLikeTomorrow.mp3")';>will the weather be like tomorrow?</a></td>
      </tr>
      <tr>
        <th>What's</th><th>What did</th>
      </tr> 
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheAddress.mp3")';>the address?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDidYouDoLastNight.mp3")';>you do last night?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheChargePerNight.mp3")';>the charge per night?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDidYouDoYesterday.mp3")';>you do yesterday?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheDate.mp3")';>the date?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDidYouThink.mp3")';>you think?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheExchangeRate.mp3")';>the exchange rate?</a></td>
      </tr>
      <td><a href='#' onclick='return playSound("./sounds/phrases/whatsInIt.mp3")';>in it?</a></td><th>What does</th>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheExchangeRateForDollars.mp3")';>the exchange rate for dollars?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoesHeDoForWork.mp3")';>he do for work?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheMatter.mp3")';>the matter?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoesThisMean.mp3")';>this mean?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheNameOfTheCompanyYouWorkFor.mp3")';>the name of the company you work for?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoesThisSay.mp3")';>this say?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsThePhoneNumber.mp3")';>the phone number?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoesThisWordMean.mp3")';>this word mean?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheRoomRate.mp3")';>the room rate?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoesYourFatherDoForWork.mp3")';>your father do for work?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsThis.mp3")';>this?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsInIt.mp3")';>in it?</a></td>
        <th>What do</th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsUp.mp3")';>up?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoTheyStudy.mp3")';>they study?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsWrong.mp3")';>wrong?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouDoForWork.mp3")';>you do for work?</a></td>
      </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsYourAddress.mp3")';>your address?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouHave.mp3")';>you have?</a></td>
      </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsYourFavoriteFood.mp3")';>your favorite food?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouRecommend.mp3")';>you recommend?</a></td>
       </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsYourFavoriteMovie.mp3")';>your favorite movie?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouStudy.mp3")';>you study?</a></td>
       </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsYourLastName.mp3")';>your last name?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouThink.mp3")';>you think?</a></td>
       </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsYourName.mp3")';>your name?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouThinkOfTheseShoes.mp3")';>you think of these shoes?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatsYourReligion.mp3")';>your religion?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouWantToBuy.mp3")';>you want to buy?</a></td>
       </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTodaysDate.mp3")';>todays date?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYouWantToDo.mp3")';>you want to do?</a></td>
      </tr>
      <tr>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatsTheTemperature.mp3")';>the temperature?</a></td>
       <td><a href='#' onclick='return playSound("./sounds/phrases/whatDoYourParentsDoForWork.mp3")';>your parents do for work?</a></td>
      </tr>
      <tr>
        <th>What is</th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatIsIt.mp3")';>it?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatIsTheAreaCode.mp3")';>the area code?</a></td> 
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatIsThat.mp3")';>that?</a></td>
        <td><a href='#' onclick='return playSound("./sounds/phrases/whatIsTodaysDate.mp3")';>todays date?</a></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>

