<!DOCTYPE html>
<html lang='en'>
<head>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="talker.js"></script>
  <link rel="stylesheet" type="text/css" href="talker.css" />
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr><th>Where</th><th>When</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreTheTShirts.mp3")';>are the t-shirts?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreTheyComing.mp3")';>are they coming?</a></td>
      </tr>

      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYou.mp3")';>are you?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouComingBack.mp3")';>are you coming back?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYouFrom.mp3")';>are you from?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouGoingToPickUpYourFriend.mp3")';>are you going to pickup your friend?</a></td>
      </tr>

      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYouGoing.mp3")';>are you going?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouLeaving.mp3")';>are you leaving?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYouGoingToGo.mp3")';>are you going to go?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouMoving.mp3")';>are you moving?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIBuyTickets.mp3")';>can I buy tickets?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDidThisHappen.mp3")';>did this happen?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIExchangeUsDollars.mp3")';>can I exchange US dollars?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDidYouArriveInBoston.mp3")';>did you arrive in Boston?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIFindAHospital.mp3")';>Can I find a hospital?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoWeArrive.mp3")';>do we arrive?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIMailThis.mp3")';>can I mail this?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoYouArriveInTheUS.mp3")';>do you arrive in the US?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIRentACar.mp3")';>can I rent a car?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoYouGetOffWork.mp3")';>when do you get off work?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidItHappen.mp3")';>did it happen?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesHeArrive.mp3")';>does he arrive?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouGo.mp3")';>did you go?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesItArrive.mp3")';>does it arrive?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouLearnEnglish.mp3")';>did you learn English?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesItLeave.mp3")';>does it leave?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouLearnIt.mp3")';>did you learn it?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesTheBankOpen.mp3")';>does the bank open?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouPutIt.mp3")';>did you put it?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesTheBusLeave.mp3")';>does the bus leave?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouWorkBeforeYouWorkedHere.mp3")';>did you work before you worked here?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesThePlaneArrive.mp3")';>does the plane arrive?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoYouLive.mp3")';>do you live?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenIWentToTheStoreTheyDidntHaveAnyApples.mp3")';>I went to the store they didn't have any apples.</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoYouWanttoGo.mp3")';>do you sant to go?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenIsTheNextBusToPhiladelphia.mp3")';>is the next bus to Philadelphia?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoYouWork.mp3")';>do you work?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenIsYourBirthday.mp3")';>is your birthday?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoesItHurt.mp3")';>does it hurt?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenWillItBeReady.mp3")';>will it be ready?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoesYourWifeWork.mp3")';>does your wife work?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenWouldYouLikeToMeet.mp3")';>would you like to meet?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsHe.mp3")';>is he?</a></td><th>Who</th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsHeFrom.mp3")';>is he from?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoAreThey.mp3")';>are they?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsIt.mp3")';>is it?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoIsIt.mp3")';>is it?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsMainStreet.mp3")';>is Main Street?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoIsThat.mp3")';>is that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsMyShirt.mp3")';>is my shirt?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoSentThisLetter.mp3")';>sent this letter?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsSheFrom.mp3")';>is she from?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoTaughtYou.mp3")';>taught you?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsTheAirport.mp3")';>is the airport?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoTaughtYouThat.mp3")';>taught you that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsTheBathroom.mp3")';>is the bathroom?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWasThat.mp3")';>was that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsTheBusStation.mp3")';>is the bus station?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWasYourTeacher.mp3")';>was your teacher?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsThereADoctorWhoSpeaksEnglish.mp3")';>is there a doctor who speaks English?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWon.mp3")';>won?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsThereAnATM.mp3")';>is there an ATM?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWouldYouLikeToSpeakTo.mp3")';>would you like to speak to?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsThereAnATM.mp3")';>is there an ATM?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whosBookIsThat.mp3")';>whose book is that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereWereYou.mp3")';>were you?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whosThatManOverThere.mp3")';>whose that man over there?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereWouldYouLikeToGo.mp3")';>would you like to go?</a></td>
        <th>Why</th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereWouldYouLikeToMeet.mp3")';>would you like to meet?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whyAreYouLaughing.mp3")';>are you laughing?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresTheClosestRestaurant.mp3")';>where's the closest restaurant?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whyArentYouGoing.mp3")';>aren't you going?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresTheMailBox.mp3")';>where's the mail box?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whyNot.mp3")';>not?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresTheNearestHospital.mp3")';> is the nearest hospital?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whydidYouDoThat.mp3")';>did you do that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresThePharmacy.mp3")';>where's the pharmacy?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whydidYouSayThat.mp3")';>why did you say that?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresThePostOffice.mp3")';>where's the post office</a></td>
      </tr>
      <tr>
        <th>Which</th>
      </tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichIsBetter.mp3")';>is better?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneIsBetter.mp3")';>one is better?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichIsBetterTheSpaghettiOrChickenSalad.mp3")';>is better the spaghetti or chicken salad?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneIsCheaper.mp3")';>one is cheaper?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichIsTheBest.mp3")';>is the best?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneIsTheBest.mp3")';>one is the best?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOne.mp3")';>one?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichRoadShouldITake.mp3")';>road should I take?</a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneDoYouWant.mp3")';>one do you want?</a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return return playSound("/sounds/phrases/whichSchoolDoesHeGoTo.mp3")';>school does he go to?</a></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path, id: 'a-bout', class: 'button' %>
    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>



