html{
  height: 100%;
  width: 100%;
  background-color: #000088;
}
body {
  min-height: 100%;
  width: 100%;
  margin-top: 200px;
  margin-left: 2.5em;
  background-color: #000088;
}
body.indexpage{
  min-height: 100%;
  width: 100%;
  background-color: #000088;
}
main1, main h3 {
  color: #ffff00;
  background-color: red;
}
main {
  min-height: 100%;
  width: 100%;
  background-color: #000088;
}
main h2{
  background-color: #000088;
  color: gold;
}
main div.container div#white{
  margin-top: -4em;
/*  margin-left: 4em;*/
  width: 100em;
  background-color: #000088;
/*  height: 100%; */
}
main div.container{
  margin-top: 0.5em;
  margin-left: -1em;
  width: 100%;
  background-color: #000088;
  height: 44em;
}
div#white h3{
  color: #ffff00;
  margin-left:6em;
  margin-top: -0.2em;
}
div#white p{
  color: white;
  margin-left: 1.75em;
}
div#white a{
  color: #eee;
  font-weight: bold;
}
div.main {
  background-color: #000088;
  width: 100%;
  height: 100%;
}
/*
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*/
div#white div.container{
/*    -webkit-box-sizing: content-box;
    border-bottom: 1px solid;
    border-color: white;
*/
    border-width: 115%;
    margin-left: -18em;
    height: 100%;
    width: 114em;
    background-color: #000088;
}

@font-face {
    font-family: 'EfonRegular';
    src: url('font/EFON-webfont.eot');
    src: local('EfonRegular'), url('font/EFON-webfont.woff') format('woff'), url('font/EFON-webfont.ttf') format('truetype'), url('font/EFON-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
.button, .button_to {
  width: 12em;
  line-height: 1.3em;
  color: white;
  text-decoration: none;
  font-size: 0.85em;
  font-family: helvetica, arial;
  font-weight: 700;
  display: block;
  text-align: center;
  position: relative;
  padding: 4px;
  margin-right: 0.35em;

  /* BACKGROUND GRADIENTS */
  background: #014464;
  background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C)); 

  /* BORDER RADIUS */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #368DBE;
  border-top: 1px solid #c3d6df;

  /* TEXT SHADOW */
  text-shadow: 1px 1px 1px black;

  /* BOX SHADOW */
  -moz-box-shadow: 0 1px 3px black;
  -webkit-box-shadow: 0 1px 3px black;
  box-shadow: 0 1px 3px black;

}
/* WHILE HOVERED */

.button:hover {
  color: gold;
  background: #014464;
  background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));
}


/* WHILE BEING CLICKED */

.button:active {
  -moz-box-shadow: 0 2px 6px black;
  -webkit-box-shadow: 0 2px 6px black;
}

/* FONT GLYPH (MOSTLY FOR FUN) 

.button:before {
  font-family: EfonRegular;
  content: 'v';
  color: #09232F;
  font-size: 90px;
  float: left;
  margin-left: 35px;
  margin-right: -10px;
  text-shadow: 0 1px 0 #4190AF;
}
*/

th {
  text-align: left;
  font-weight: bold;
  color: gold;
}
div#white div.container {
  width: 100%;
  height: 100%;
  margin-left: 3.5em;
}
table#mbuttons {
  margin-top: 0.6em;
  margin-left: 1.375em;
  margin-bottom: 0.75em;
}
table#mbuttons tr{
  margin-top: 0.25em;
  margin-left: 2em;
  margin-bottom: 1.5em;
}
td{
  color: white;
}
table#mbuttons td{
  margin-right:1em;
  padding-right: 0.5em;
  margin-bottom: 1.5em;
}
table#mbuttons a.button{
  margin: 0.25em 0.10em; 
}
table#mbuttons a.button:hover{
  color: #ffff00;
  text-decoration: none;
}
a.button:hover{
  color: #ffff00;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #ffff00;
}

div.container{
  width: 100%;
}
div.container div#white table.talker {
  width: 54em;
  margin-left: 1.5em;
  margin-top: -1.25em;
  text-align: left;
  height: 2em;
}

div.container table.talker{
  width: 42em;
}
table.talker tr{
  margin-left: 0;
}
table.talker td{
  font-family: Arial;
  font-size: 1em;
  text-align: left;
  line-height: 1.3em;
  margin: 0;
  width: 32em;
}

table.talker.cat td{
  padding-left: 1em;
  width: 32em;
}


div.container div#white table.talker a{
  font-family: arial;
  color: white;
  font-weight: 500;
  font-size: 1em;
  width: 2em;
}
div.container div#white table.talker a:hover{
  color: gold;
  text-decoration: none;
}

table.talker4 {
  width: 2em;
}
table.talker4 td{
  font-family: Arial;
  font-size: 1em;
  text-align: left;
  line-height: 1.3em;
  margin: 0;
  width: 22em;
}
div.container table.talker4 a{
  font-family: arial;
  color: white;
  font-weight: 500;
  font-size: 1em;
  width: 2em;
}
div.container table.talker4 a:hover{
  color: gold;
  text-decoration: none;
}

table.talker th {
  margin-left: 18.25em;
  margin-top: 0.75em;
}
a#a-bout.button {
  margin-top: 1em;
  margin-left: 22.25em;
}
a#a-bout.button:hover {
  color: #ffff00;
  text-decoration: none;
}
h2#abt{
  width: 18.5em;
  margin-left: 2.5em;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffff00;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 23em;
  position: relative;
  margin: 1.4em 0 0 -57.5em; 
  padding: 5px 20px 13px 20px;
  text-align: left;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  background: gray;
  color: lightyellow;
  line-height: 25px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -10px;
  width: 42px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
div#openModal p{
  color: white;
  margin-left: 1em;
}
span#spacer div#zz {
  margin-top: 1.5em;
}
div#white div#zz {
  background: #000088;
  width: 42em;
  text-align: left;
  margin-left: -2.75em;
  margin-top: -1.25em;
  min-height: 100%;
}
.close:hover {
  background: #00d9ff;
  background: #000;
}
div#zz h2{
  text-align: left;
  margin: 0.5em 2em -0.25em 5.2em;
}
div.container div#zz p{
  font-family: sans-serif;
  margin-left: 4em;
  padding-left: 0;
  margin-left: 4em;
  color: white;
  width: 45em;
}

div#copyright0 p{
  margin-left: 12em;
}
div#copyright0 p {
  text-align: center;
  width: 32em;
  margin-left: 14.5em;
  font-size: 0.75em;
  color:lightyellow;
  font-family: sans-serif;
  margin-top: 0.25em;
}
div#copyright1 {
  margin-top: 400em;
  margin-left: 0;
}
div#copyright1 a {
  color: #ffffe0;
}
div#copyright1 {
  margin-top: 1.25em;
  margin-left: 0;
}
div#copyright1 p {
  text-align: center;
  width: 32em;
  margin-left: 6.5em;
  font-size: 0.75em;
  color:lightyellow;
  font-family: sans-serif;
  margin-top: 0.25em;
}
div#copyright2 {
  margin-top: 1.25em;
  margin-left: 4.75em;
}
div#copyright2 a {
  color: #ffffe0;
}
div#copyright2 p {
  text-align: center;
  width: 32em;
  margin-left: 6.5em;
  font-size: 0.75em;
  color:lightyellow;
  font-family: sans-serif;
  margin-top: 0.25em;
}

p a#mmode {
  color: lightyellow;
  font-weight: 500;
}
p a#mmode:hover {
  text-decoration: none;
  color: gold;
  font-weight: 500;
}
div#copyright1.p a:hover{
  color: #ffff00;
  text-decoration: none;
}
div.daddy {
  background-color: #000088;
  margin-top: 10em;
  margin-left: 3em;
  margin-bottom: 4em;
  min-height: 100%;
}
nav ul ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
nav ul:after {
  content: ""; clear: both; display: block;
}
nav ul li {
  float: left;
}
.dropdown-toggle a{
  color: gold;
  
}
nav ul li:hover {
  color: gold;
}
nav ul li:hover a {
  color: gold;
  background-color: #000;
}
nav ul li:hover a:hover {
  color: gold;
  background-color: #000088;
}

nav ul li a {
  display: block;
  padding: 25px 40px;
  color: #757575;
  text-decoration: none;
}
nav ul ul {
  background: #5f6975;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}
nav ul ul li {
  float: none;
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
}
nav ul ul li a {
  padding: 15px 40px;
  color: #fff;
}
nav ul ul li a:hover {
  background: #000088;
  color: gold;
}

a.dropdown-toggle {
  width: 4em;
  height: 1.25em;
  margin-left: 0.5em;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: -1.25em;
  margin-bottom: -3em;
/*  border-bottom: white 1px solid;*/
}

li.dropdown a.dropdown-toggle{
  color: gray;
  background-color: #000;
}

li.dropdown a.dropdown-toggle:hover{
  color: gold;
  text-decoration: none;
  fonnt-weight: bold;
  background-color: #000;
}

li.dropdown-toggle a:hover{
  color: gold;
  font-weight: bold;
  background-color: #000;
  text-decoration: none;
}
ul.dropdown-menu {
  max-height: 18.4em;
  overflow: auto;
  margin-top: 2.225em;
}
ul.dropdown-menu a {
  background-color: #000;
  color: #000088;
}
li.dropdown a.dropdown-toggle hover{
  background-color: #000;
  color: gray;
}

ul.dropdown-menu li.a:hover{
  background-color: #000;
  color: #000088;
}
div.authform{
  margin-left: 3.75em;;
  min-height: 100%;
}
div.authform h3{
  margin-top: -0.5em;
  margin-left: 3.5em;
}
div.authform .right {
  margin-right: 3.5em;
}
input.button.right {
  margin-top: 0em;
}
div.checkbox label{
  padding-top: 2em;
  margin-top: -1.75em;
  margin-left: 0;
  width: 10em;
}
form.new_user {
  height: 18.75em;
  margin-top: 3.5em;
}
form.new_user.signup  {
  @extend form.new_user;
  height: 18em;
}
div.authform2{
  margin-left: 6em;
}
div.authform2 form#new_user.new_user {
  height: 20em;
  margin-top: 4.5em;
}
div.authform2 h3{
  margin-top: -0.5em;
  margin-left: 3.5em;
}
div.authform2 .right {
  margin-right: 3.5em;
}
div.authform2 form#new_user.new_user {
  width: 22em;
}
form#new_user.new_user input.button.right{
  margin-left: 3.25em;
}
table#allphrases {
  margin-left: 5.5em;
  margin-top: -1em;
}
table#allphrases td{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
table#allphrases a{
  color: gold;
  margin-right: -0.15em;
  margin-left: -0.15em;
}
table#allphrases th{
  color: gold;
  padding-left: 0.5em;
}
table#allphrases a:hover{
  font-weight: 900;
  margin-left: -0.15em;
  margin-right: -0.15em;
  text-decoration: none;
}

div#topper{
  margin-left: 0.75em;
  margin-top: 1.75em;
  margin-bottom:0;
}

div#white {
  width: 28em;
}

div#white div#topper h2{
  font-family: Courier New;
  width: 34em;
  font-weight: bold;
  font-size: 1.95em;
  text-align: left;
  line-height: 2em;
  color: gold;
  margin-top: 2em;
  padding-top: 0.75em;
  margin-left: 0.5em;
  margin-bottom: -0.5em;
}


div#white div#topper-ab{
  margin-left: -12em;
  margin-top: -0.5em;
  width: 100em;
}
div#white div#topper-ab h2{
  font-family: Courier New;
  width: 44em;
  font-weight: bold;
  font-size: 1.95em;
  text-align: left;
  line-height: 2em;
  color: gold;
  margin-top: 0;
  padding-top: 2.75em;
  margin-left: 6.75em;
  margin-bottom: -0.5em;
}

div.pnation{
  margin-left: 22em;
}
div.pnation td{
  line-height: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
}
div.pnation a{
  color: gold;
}
div.pnation a:hover{
  font-weight: 900;
  color: gold;
  text-decoration: none;
}
div#alert-danger div#flash-alert {
  margin-top: -1.5em;
  margin-bottom: 2em;
  margin-left:15em;
  margin-right: 3em;
  position: absolute;
  top: 266px;
  text-align: left;
  padding-bottom: 2em;
}
.container {
  margin-left: 4em;
}
div#topspacer {
  margin-left:3em;
  padding-left: 14em;
  font-size: 2em;
  width: 3em;
}
ul.dropdown-menu {
  li.a:hover{
  background-color: #000;
  color: black;
  }
}
nav.navbar-fixed-top {
/*  -webkit-box-sizing: content-box;
  border-bottom: 1px solid;
  border-color: white;
  border-width: 100%;
*/
  margin-left: -29.5em;
  padding-left:2em;
  background-color: black;
  height: 3.65em;
  width: 140em;
}
div.navbar-header {
  margin-left: 7.5em;
  padding-left: 0;
  width: 160em;
  background-color: #000;
  border-bottom: white 1px solid;
}
div.container.collapse, div.container.navbar-collapse{
  height: 44em;
}
div.navbar-header.collapse, div.navbar-brand {
  background-color: gray;
}
a.navbar-brand {
  color: white;
  font-weight: 400;
  padding-left: 1.5em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}
.navbar-header a.navbar-brand:hover {
  color: gold;
  font-weight: 900;
}
.navbar-nav.nav.ul.li  a:hover{
    color: gold;
}
.navbar::after {
    clear: both;
}
.navbar::before, .navbar::after {
    content: " ";
    display: table;
}
.navbar::after {
    clear: both;
}
.navbar::before, .navbar::after {
    content: " ";
    display: table;
}
ul.nav.navbar-nav a:hover {
  color: gold;
  font-weight: 900;
}
ul.nav.navbar-nav a:hover {
  color: gold;
}

div.navbar-inverse{
  .navbar::before, .navbar::after {
      content: " ";
      display: table;
  }
  div.spaceee a.navbar-brand {
    margin-left: 14em;
  }
}
.left { float: left !important; }

.navbar-spacer {
  margin-left:3em;
  padding-left: 14em;
  font-size: 2em;
  width: 33em;
}
div.navbar-collapse {
  height:22em;
  background-color: #000;
}
div.container{
  background-color: #000088;
}

div.navbar-header.navbar-collapse {
  background-color: #000088;
}

/* body, main, div.container, div#white{ */
div.container, div#white{
  background-color: #000088;
  width: 100em;
  height: 100%;
}

div#zz p a#mailto {
}

div#zz p a:hover{
  color:gold;
  text-decoration: none;
}

div.container table.talker{
  margin-top: -20.75em;
  margin-left: 1.25em;
}

div.container table.talker a{
  font-family: arial,sans-serif ;
  color: #ffffff;
  font-weignt: 600;
  text-decoration: none;
}
table.talker td a:hover{
  color: gold;
}
div.container a#a-bout.button{
  margin-left: 14em;
}
table.talker4 {
  width: 40em;
  margin-left: 2.5em;
  margin-top: -20.75em;
  text-align: left;
  height: 2em;
}

form#new_user.new_user{
  margin-top: 5em;
  margin-left: 0;
}

div#topper2{
  margin-left: 6em;
  margin-top: 5.25em;
  margin-bottom: 0.5em;
}

/* div#topper2 h2{*/
div#white div#topper h2{
  font-family: Courier New;
  width: 34em;
  font-weight: bold;
  font-size: 1.95em;
  text-align: left;
  line-height: 2em;
  color: gold;
  margin-top: 2em;
  padding-top: -2em;
  margin-left: 0.75em;
  margin-bottom: 0.5em;
}

div#white {
  width: 28em;
}

div#topper2 h2{
  font-family: Courier New;
  width: 34em;
  font-weight: bold;
  font-size: 1.95em;
  text-align: left;
  line-height: 2em;
  color: gold;
  margin-top: 5em;
  padding-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
div#zz table.credits{
  margin-left: 4.5em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  background-color: #000088;
  color: white;
  width: 38em;
}
table.credits td.open_sorcerer{
  font-weight: bold;
  color: white;
  width: 7em;
}
table.credits th{
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
  width: 12em;
}
div#white p#credito{
  width: 40em;
}
p.creative{
  margin-left: 17em;
}
p.creative img{
  margin-top: 2em;
  margin-left: 17em;
  margin-bottom: 0;
}

p.creative img#img-cpr{
  margin-left: 17em;
}

p.creative {
  margin-left: 2em;
}
div#zz div#copyright0 {
  margin-left: 4em;
  width: 74em;
}
div#copyright0 div#ccl a{
  margin-left: 0.25em;
}
div#white div#topper-ab h2{
  margin-top: -0.5em;
}
div#white div#copyright0 span div#ccl a{
  width: 64em;
}

div#copyright0 p.creative{
  margin-left: 10em;
}
div#ccl {
  margin-left: 14.5em;
/*  width: 66em; */
}
div#ccl p{
  width: 42em;
  margin-top: -2em;
  margin-left: 17.5em;
  margin-bottom: 3em;
}
span#spacer div#zzz {
  margin-top: 1.5em;
}
div#white div#zzz {
  background: #000088;
  width: 42em;
  text-align: left;
  margin-left: -2.5em;
  margin-top: 0.75em;
  min-height: 100%;
}
div#zzz h2{
  text-align: left;
  margin: 0.5em 2em -0.25em 5.2em;
}
div.container div#zzz p{
  font-family: sans-serif;
  margin-left: 4em;
  padding-left: 0;
  margin-left: 4em;
  color: white;
  width: 45em;
}
div#copyright0 img{
  margin-left: 22.5em;
}
div#ccl {
  margin-left: -1em;
}

