<style trpe='text/css'>
table.cat{
  margin-bottom: 1.25em;
}
div#copyright1{
  margin-left: 3em;
}
</style>
<div class='container'>
  <div id='white'>
    <div id='topper'>
      <h2>Tommy Talker <%= @category.name %> Phrases</h2>
    </div> <!-- end topper -->
    <table class='talker cat'>
      <tr>
        <!-- Category -> Phrases -->
        <!-- Phrase -> Translations -->
        <% @category.phrases_by_language(current_user.language).each.with_index do |phrase,index| %>
          <td><a href='#' style='text-decoration: none'; onclick='return playSound("<%= "/sounds/mine/" + "#{phrase.audio_file}" %>")';><%= phrase.phrase_text %></a></td>
          <% if((index+1) % 3 == 0) %>
            </tr><tr>
          <% end %>
        <% end %>
      </tr>
    </table>
<!--    
    <div class='pnation'>
      <table>
        <tr>
          <td colspan='3'>< % = paginate @category.phrases %></td>
        </tr>
      <tr><td align='center'>< % = link_to 'New Phrase', new_phrase_path %></td></tr>
      </table>
    </div>
-->
    <div id='copyright0'>
      <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
      <div id='ccl' style="display:none">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
      </div> <!-- end ccl -->
    </div> <!-- end copyright0 -->

  </div> <!-- end white -->
</div> <!-- end container -->
