<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
      <span class="sr-only">Toggle navigation</span>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= render 'layouts/navigation_links' %>
        </ul><!-- end nav navbar-nav -- > 
      </div><!-- end collapse navbar-collapse left  -->
    </div><!-- end collapse navbar-header -->
  </div><!-- end container -->
</nav>
