<%# navigation styled for Bootstrap 3.0 %>
<style type='text/css'>
ul.dropdown-menu a:hover{
  background-color: #004160;
}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <%= render 'layouts/navigation_links' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language</a>
          <ul class="dropdown-menu">
               <li><a href="http://zh.localhost:3000">Chinese</a></li>
               <li><a href="http://es.localhost:3000">Spanish</a></li>
               <li><a href="http://en.localhost:3000">English</a></li>
               <li><a href="http://ar.localhost:3000">Arabic</a></li> 
               <li><a href="http://pt.localhost:3000">Portuguese</a></li>
               <li><a href="http://pt.localhost:3000">Brazilian-pt</a></li>
               <li><a href="http://ru.localhost:3000">Russian</a></li>
               <li><a href="http://ja.localhost:3000">Japanese</a></li>
               <li><a href="http://de.localhost:3000">German</a></li>
               <li><a href="http://vi.localhost:3000">Vietnamese</a></li>
               <li><a href="http://ko.localhost:3000">Korean</a></li>
               <li><a href="http://fr.localhost:3000">French</a></li>
               <li><a href="http://tr.localhost:3000">Turkish</a></li>
               <li><a href="http://it.localhost:3000">Italian</a></li>
               <li><a href="http://th.localhost:3000">Thai</a></li>
               <li><a href="http://pl.localhost:3000">Polish</a></li>
               <li><a href="http://uk.localhost:3000">Ukrainian</a></li>
               <li><a href="http://ro.localhost:3000">Romanian</a></li>
               <li><a href="http://nl.localhost:3000">Dutch</a></li>
               <li><a href="http://hr.localhost:3000">Croatian</a></li>
               <li><a href="http://hu.localhost:3000">Hungarian</a></li>
               <li><a href="http://el.localhost:3000">Greek</a></li>
               <li><a href="http://cs.localhost:3000">Czech</a></li>
               <li><a href="http://sv.localhost:3000">Swedish</a></li>
               <li><a href="http://lt.localhost:3000">Lithuanian</a></li>
          </ul>
        </li> <!-- end dropdown --> 
      </ul>
    </div>
  </div>
</nav>
